@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: "Kode Mono", monospace;
}
header{
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 100%;
    z-index: 1;
    /*box-shadow: rgba(60, 60, 62, 0.2) 7px 7px 35px 7px;*/
    border-radius: 16px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}
header ul li{
    list-style: none;
    padding: 15px;
}
header ul li a{
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
    font-size: 1em;
    font-weight: 600;
    background: white;
    padding: 10px 25px;
    border-radius: 16px;
    transition: all 0.3s ease;
}
.active{
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    font-size: 1em;
    font-weight: 600;
    background: #FF9800;
    padding: 10px 25px;
    border-radius: 16px;
    transition: all 0.3s ease;
}
header ul li a:hover{
    color: white;
    background-color: #FF9800;
}
header .logo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#logo{
    width: 9em;
}
#logo-1{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Concert one',sans-serif;
    text-align: center;
    padding-bottom: 30px;
}
#logo-1 a{
    text-decoration: none;
    color: #000;
}
#check{
    display: none;
}
.icons{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: black;
    cursor: pointer;
    display: none;
}
@media (max-width: 992px){
    header{
        padding: 1rem 5%;
    }
}
@media (max-width: 768px){
    .icons{
        display: block;
        align-items: center;
        margin-top: 50px;
        z-index: 3;
    }
    #check:checked~.icons #menu-icon{
        display: none;
    }
    .icons #close-icon{
        display: none;
    }
    #check:checked~.icons #close-icon{
        display: block;
    }
    ul{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 17.7rem;
    }
    header ul{
        display: block;
        font-size: 1.1rem;
        margin: 6rem 0;
        text-align: center;
        height: 0;
        padding-top: 150px;
        transition: .3s ease;
    }
    #check:checked~header ul{
        height: 17.7rem;
    }
    header ul li{
        transform: translateY(-50px);
    }
    #check:checked~header ul a{
        transform: translateY(0);
    }
}
.nav{
    position: relative;
    padding: 200px;
    font-size: 16px;
    color: black;

}
.title-home{
    text-align: center;
    padding-bottom: 20px;
}
.nav-menu{
    display: flex;
    justify-content: space-around;
    padding-top: 200px;
}
.nav-menu-img{
    width: 100px;
}
.nav-button{
    display: block;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: none;
    box-shadow: rgba(75, 75, 79, 0.1) 7px 7px 35px 7px;
    cursor: pointer;
    padding: 0 25px 15px;
    border-radius: 16px;
    transition: all 0.5s ease;
    
}
.nav-button:hover{
    transform: scale(1.1);
    box-shadow: rgba(75, 75, 79, 0.3) 7px 7px 35px 7px;
}
.nav-button .button-name{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-family: "Kode Mono", monospace;
}
#pizzas, #bebidas{
    background: #eee;
}
.menu-pizza{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    margin-left: 30px;
}

.pizza{
    display: flex;
    width: 430px;
    background: #ffffff;
    border-radius: 16px;
    margin: 10px;
    padding: 32px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.5s ease;
    box-shadow: 2px 2px 1px 1px black;
}

.pizza:hover{
    transform: scale(1.02);
    box-shadow: 8px 8px black;
}
.pizza img{
    width: 12rem;
    padding: 16px 16px 16px 0px;
}
.text-product{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.bebida img{
    width: 12rem;
    padding: 16px;
}
.menu-bebidas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    margin-left: 30px;
}
.bebida{
    display: flex;
    width: 430px;
    background: #ffffff;
    border-radius: 16px;
    margin: 10px;
    padding: 32px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.5s ease;
    box-shadow: 2px 2px 1px 1px black;
}
.bebida:hover{
    transform: scale(1.02);
    box-shadow: 8px 8px black;
}
h1{
    margin-top: 30px;
    text-align: center;
}
#flex-contact, #flex-about{
    display: flex;
    justify-content: center;
}
.contact{
    width: 400px;
    padding-bottom: 20px;
    background: #dadada;
    margin-top: 180px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 35px 0px;
}
.contact-items{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    color: #000000;
    font-size: 16px;
}
.contact-items a{
    text-decoration: none;
    padding-left: 3px;
    color: blue;

}
.contact-items a:hover{
    border-bottom: 2px solid currentColor;
}
.contact-items h1{
    padding-bottom: 30px;
}
.contact img{
    width: 6%;
    padding-right: 5px;
}
.about{
    width: 800px;
    padding: 10px 50px 40px 50px;
    background: #dadada;
    margin-top: 180px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 35px 0px;
}
.about h1{
    padding-bottom: 20px;
}
.about p{
    font-size: 16px;
}
.order-id{
    border: 2px solid #FF9800;
}
#pedidos{
    position: absolute;
    margin-top: 180px;
    z-index: 1;
    width: 100%;
    justify-content: center;
}
.order-nav{
    position: absolute;
    margin-top: 225px;
    width: 100%;
    background: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#bebida-order, #sabor, #nome, #telefone{
    border-radius: 8px;
    border: 1px solid ;
    scrollbar-arrow-color: #FF9800;
    font-size: 14px;
    padding: 3px 7px;
    padding-top: 5px;
}
#input-btn{
    border-radius: 8px;
    border: 1px solid;
    padding: 3px;
    font-size: 16px;
    background: white;
    cursor: pointer;
}